body{
    background-color: lightgrey;
}

header{
    padding: 10px;
    background-color: white;
}

.logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.task-box{
    background-color: white;
    height: 50px;
    width: 1000px;
    margin-top: 10px;
    margin-right: auto;
    padding-top: 10px;

}
